* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  margin-top: 20px; /* compensar top-bar */
  height: calc(100vh - 20px);
}

.wallet-box {
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
  /*background: #323351;*/
  border-radius: 10px;
  padding: 1rem;
  color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.button-text {
  /*background-color: #999;*/
  background: none;
  border: none;
  color: white;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  text-align: left;
  }

  .button-text span {
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 1.2rem;
    color: white;
  }
  
  .button-text span.rotated {
    transform: rotate(180deg);
  }

  .wallet-info {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease, padding 0.3s ease;
    padding: 0 0;
  }
  
  .wallet-info.expanded {
    max-height: 500px; /* ou use algo maior dependendo do conteúdo */
    padding: 1rem 0;
  }


  @media (max-width: 768px) {
    .button-text {
      width: 100%;
      max-width: 280px;
    }

    .layout {
      flex-direction: column;
    }
  }